@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')


                            body {
        font-family: 'Montserrat'; font-size: 18px;
      }
      .navbar-nav > li > a {font-family: 'Montserrat';
      color: #ffc433}
	  

* {
        font-family: 'Montserrat';font-size: 18px;
	  }	  
	  p {
        font-family: 'Montserrat';font-size: 18px;
      color: #ffc433
	  }  
        h1 {
        font-family: 'Montserrat';
      color: #ffc433
	  }
	  
	  h2 {
        font-family: 'Montserrat';
		
		
          }
		  
      
      .shiny-input-container {
      font-family: 'Montserrat';
      }
      